<p>Route works</p>
<a [routerLink]="['']"> DataBinding </a> <br/>
<a [routerLink]="['dir']"> Directive </a> <br/>
<a [routerLink]="['pipe']">Pipe</a> <br/>
<a [routerLink]="['inheritance']">Inheritance</a> <br/>
<a [routerLink]="['nested']">Nested</a> <br/>
<a [routerLink]="['projection']">Projection</a> <br/>
<a [routerLink]="['viewChild']">ViewChild</a> <br/>
<a [routerLink]="['hooks']">Hooks</a> <br/>
<a [routerLink]="['templateForm']">Template Form</a> <br/>
<a [routerLink]="['reactiveForm']">Reactive Form (Model Form)</a> <br/>

<div class="container">
    <router-outlet></router-outlet>
</div>
