<p>form works!</p>

<form>
    <ng-content select="h2"></ng-content>
    <div>
        User Name: <input type="tex" name="username" />
    </div>
    <div>
        Password: <input type="password" name="Password" />
    </div>
    <div>
        <ng-content select=".btn"></ng-content>
    </div>    
</form>

<!-- <form>
    <h2> User Login</h2>
    <div>
        User Name: <input type="tex" name="username" />
    </div>
    <div>
        Password: <input type="password" name="Password" />
    </div>
    <div>
        <input type="submit" value="Login"  class="btn btn-primary"/>
    </div>    
</form>


<form>
    <h2> User SignUp</h2>
    <div>
        User Name: <input type="tex" name="username" />
    </div>
    <div>
        Password: <input type="password" name="Password" />
    </div>
    <div>
        <input type="submit" value="SignUp"  class="btn btn-primary"/>
    </div>    
</form> -->
